<div class="container-fluid p-0">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <img src="img/banner.png" alt="banner" class="img-fluid" />
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>
<div class="main">
  <div class="container-fluid">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <!--begin col links-->
          <div class="row">
            <div class="col-md-3 m-auto">
              <div class="row text-center">
                <h2 class="m-auto">Login</h2>
              </div>
              <form>
                <div class="form-group">
                  <label for="exampleInputUsername">Username</label>
                  <input
                    type="username"
                    class="form-control"
                    id="exampleInputUsername"
                    placeholder="Enter Username"
                  />
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword">Password</label>
                  <input
                    type="Password"
                    class="form-control"
                    id="exampleInputPassword"
                    placeholder="Enter Password"
                  />
                </div>
              </form>
              <div class="m-auto text-center my-5">
                <button class="btn btn-primary my-2 ">
                  Login
                </button>
              </div>
            </div>
            <!--einde col links-->
            <!--begin col rechts-->
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
  </div>
</div>
