<nav class="navbar navbar-expand-sm navbar-dark bg-dark-blue">
        <div class="col-md-10 m-auto">
            <div class="row">
                    <a class="navbar-brand" href="/">
                        <img src="img/logo.png"/>
                    </a>
                    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="collapsibleNavId">
                        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                                <a class="nav-link" href="/">Home</a>
                                <a class="nav-link" href="/clothing">Clothing</a>
                                <a class="nav-link" href="/posters">Posters</a>
                                <a class="nav-link" href="/stationary">Stationary</a>
                            <form class="form-inline ">
                                <div class="md-form my-0">
                                    <input class="bg-dark-blue form-control mr-sm-2 text-black" type="text" placeholder="Search" aria-label="Search">
                                </div>
                            </form>
                            <li class="nav-item">
                                    <a class="nav-link" data-toggle="modal" data-target="#cartModal"><i class="fas fa-shopping-cart"></i></a>
                                </li>
                        </ul>

                    </div>
            </div>   
        </div>  
    </div>
</nav>