<div class="container-fluid">
  <!--header-->
  <main class="row">
    <div class="col-md-12">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="product_path">
              <span>Home > Product // Store</span>
              <h3>Horse t-shirts</h3>
              <img class="w-100" src="img/horse_shirt.jpg" alt="horse_shirt" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="product_information">
              <h3>local estimate</h3>
              <div class="price">45.01 eur</div>
              <span class="text-dark">*international shipping available*</span>
              <div class="select_product">
                <select class="w-100" name="select_shirt">
                  <option value="Midweight Crewneck Sweatshirt"
                    >Midweight Crewneck Sweatshirt</option
                  >
                  <option value="Long Sleeve Tee">Long Sleeve Tee</option>
                  <option value="Unisex Fitted Tee">Unisex Fitted Tee</option>
                </select>
              </div>
              <div class="border w-100"></div>
              <div class="size_section">
                <h4>size</h4>
                <span class="text-primary">sizing and fabric</span>
                <select class="w-50" name="select_size">
                  <option value="S">S</option>
                  <option value="M">M</option>
                  <option value="L">L</option>
                  <option value="XL">XL</option>
                  <option value="2XL">2XL</option>
                  <option value="3XL">3XL</option>
                  <option value="4XL">4XL</option>
                  <option value="5XL">5XL</option>
                </select>
              </div>
              <button class="add_to_card w-100">add to card</button>
              <span class="available w-100 text-center"
                >Will be available at date</span
              >
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="show_sizes">
              <h3>also available as</h3>
              <div class="product_preview">
                <div class="mr-2 product">
                  <img
                    class="w-100"
                    src="img/horse_shirt_sec.jpg"
                    alt="horse_shirt_sec"
                  />
                  <h3>s - 5xl</h3>
                  <span>Shirt with Horse</span>
                </div>
                <div class="mr-2 product">
                  <img
                    class="w-100"
                    src="img/horse_shirt_sec.jpg"
                    alt="horse_shirt_sec"
                  />
                  <h3>s - 5xl</h3>
                  <span>Shirt with Horse</span>
                </div>
                <div class="product">
                  <img
                    class="w-100"
                    src="img/horse_shirt_sec.jpg"
                    alt="horse_shirt_sec"
                  />
                  <h3>s - 5xl</h3>
                  <span>Shirt with Horse</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <div class="socialmedia_btn">
              <img class="mr-2" src="img/facebook_share.png" alt="facebook" />
              <img class="mr-2" src="img/tweet.png" alt="facebook" />
              <img src="img/email.png" alt="facebook" />
            </div>
          </div>
          <div class="col-md-4"></div>
        </div>
        <div class="row">
          <div class="col-md-12 product_large_title">
            <h3>customers who bought this item also bought</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="product_large">
              <img class="w-75" src="img/horse_hoodie.png" alt="horse_hoodie" />
              <span>Horse Hoodie by<br />Studio Dorian</span>
            </div>
          </div>
          <div class="col-md-3">
            <div class="product_large">
              <img class="w-75" src="img/horse_hoodie.png" alt="horse_hoodie" />
              <span>Horse Hoodie by<br />Studio Dorian</span>
            </div>
          </div>
          <div class="col-md-3">
            <div class="product_large">
              <img class="w-75" src="img/horse_hoodie.png" alt="horse_hoodie" />
              <span>Horse Hoodie by<br />Studio Dorian</span>
            </div>
          </div>
          <div class="col-md-3">
            <div class="product_large">
              <img class="w-75" src="img/horse_hoodie.png" alt="horse_hoodie" />
              <span>Horse Hoodie by<br />Studio Dorian</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!--footer-->
</div>
