<div class="container-fluid p-0">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <img src="img/banner.png" alt="banner" class="img-fluid" />
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>
<div class="main">
  <div class="container-fluid">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <!--begin col links-->
          <div class="row">
            <div class="col-md-6 m-auto">
              <div class="row text-center">
                <h2 class="m-auto">Register</h2>
              </div>

              <form>
                <div class="form-group">
                  <label for="exampleInputUsername">Username</label>
                  <input
                    type="username"
                    class="form-control"
                    id="exampleInputUsername"
                    placeholder="Enter Username"
                  />
                </div>
                <div class="form-group">
                  <label for="exampleInputFirstname">Firstname</label>
                  <input
                    type="firstname"
                    class="form-control"
                    id="exampleInputFirstname"
                    placeholder="Enter Firstname"
                  />
                </div>
                <div class="form-group">
                  <label for="exampleInputLastname">Lastname</label>
                  <input
                    type="Lastname"
                    class="form-control"
                    id="exampleInputLastname"
                    placeholder="Enter Lastname"
                  />
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail">E-mail</label>
                  <input
                    type="Email"
                    class="form-control"
                    id="exampleInputEmail"
                    placeholder="Enter E-mail"
                  />
                </div>
                <div class="form-group">
                  <label for="exampleInputEmailConf">E-mail Confirm</label>
                  <input
                    type="EmailConf"
                    class="form-control"
                    id="exampleInputEmailConf"
                    placeholder="Enter E-mail"
                  />
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword">Password</label>
                  <input
                    type="Password"
                    class="form-control"
                    id="exampleInputPassword"
                    placeholder="Enter Password"
                  />
                </div>
                <div class="form-group">
                  <label for="exampleInputPasswordConf">Password Confirm</label>
                  <input
                    type="PasswordConf"
                    class="form-control"
                    id="exampleInputPasswordConf"
                    placeholder="Enter Password"
                  />
                </div>
                <h3 class="m-auto text-center">Address information</h3>
                <div class="form-group">
                  <label for="exampleInputAddress">Address</label>
                  <input
                    type="Address"
                    class="form-control"
                    id="exampleInputAddress"
                    placeholder="Enter Address"
                  />
                </div>
                <div class="form-group">
                  <label for="exampleInputZip">Zip code</label>
                  <input
                    type="Zip"
                    class="form-control"
                    id="exampleInputZip"
                    placeholder="Enter Zip code"
                  />
                </div>
                <div class="form-group">
                  <label for="exampleInputCountry">Country</label>
                  <input
                    type="Country"
                    class="form-control"
                    id="exampleInputCountry"
                    placeholder="Enter Country"
                  />
                </div>
                <div class="form-group">
                  <label for="exampleInputPhone">Phone number</label>
                  <input
                    type="Phone"
                    class="form-control"
                    id="exampleInputPhone"
                    placeholder="Enter Phone number"
                  />
                </div>
              </form>
              <div class="m-auto text-center my-5">
                <button class="btn btn-primary my-2 ">
                  Register
                </button>
              </div>
            </div>
            <!--einde col links-->
            <!--begin col rechts-->
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
  </div>
</div>
