* {
  font-family: 'Poppins', sans-serif; }

.bg-dark-blue {
  background-color: #081B28; }

  body {
    background-color: #ffffff;
background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  }

a img {
  height: 40px; }

.footer {
  height: auto; }

.copyright {
  padding-top: 15px;
  font-size: .7rem;
  font-weight: 300; }

.float-right {
  float: right;
  padding-top: 10px; }

.footer-link {
  color: white;
  text-decoration: none !important;
  font-weight: bold;
  font-size: .8rem; }
  .footer-link:hover {
    color: #f3f3f3; }

.container {
  padding: 2rem 0rem; }

.table-image thead td, .table-image thead th {
  border: 0;
  color: #666;
  font-size: 0.8rem; }
.table-image td, .table-image th {
  vertical-align: middle;
  text-align: center; }
  .table-image td.qty, .table-image th.qty {
    max-width: 2rem; }

.price {
  margin-left: 1rem; }

.modal-footer {
  padding-top: 0rem; }
