@charset 'utf-8';

*{
    font-family: 'Roboto', sans-serif;
}
.products-active{
    border-bottom: 2px solid black;
    color:black;
}
.item-container{
    height:400px;
}
.item-container img{
    width:100%;
}
a{
    text-decoration: none;
    color:#000;
}
a:hover{
    text-decoration: none;
    color:#000;
}