<div class="col-md-4 item-container border p-0">
  <a class="style-type-none" href="/product">
    <img src="img/tshirt.jpg" alt="tshirt" class="img-fluid" />
    <p class="text-center  mt-2 mb-0">Paarden merch // Horse Reality</p>
    <p class="text-center font-weight-bold">44,50</p>
  </a>
</div>
